PORT=5000

JWT_SECRET=mySuperSecretJwtKey123!@#
QR_SECRET=mySuperSecretQrKey456$%^
Set-Content -Path .env -Value "MONGO_URI=mongodb://jeeva311204_db_user:jeeva2007pass@ac-hprtzu6-shard-00-00.xrnxth2.mongodb.net:27017,ac-hprtzu6-shard-00-01.xrnxth2.mongodb.net:27017,ac-hprtzu6-shard-00-02.xrnxth2.mongodb.net:27017/?ssl=true&replicaSet=atlas-r9t87x-shard-0&authSource=admin&appName=Cluster0`nSMTP_HOST=smtp.gmail.com`nSMTP_PORT=587`nSMTP_USER=jeeva311204@gmail.com`nSMTP_PASS=znxucqjxaeiflewg`
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=jeeva311204@gmail.com
SMTP_PASS=ljqx jidp vliz ifbl
SMTP_FROM="College Event Portal <jeeva311204@gmail.com>"
